*{
    background-color: blueviolet;
}

.calc{
    background-color: aliceblue;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 10px 10px 5px black;
    display: grid;
    grid-template-columns: repeat(4,60px);
}

.container{
    height: 100vh;
    width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    grid-column: span 4;
    background-color: aliceblue;
    height: 50px;
    text-align: end;
    border-radius: 50px;
}

button{
    height: 50px;
    width: 50px;
    background-color: aqua;
    border-radius: 60%;
    /* margin: 20px 20px 20px 20px; */
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5px;
}

.equal{
    width: 100px;
    border-radius: 50px;
}